body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dimension-list {
  padding: inherit;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.dimension-list li {
  padding: 2px;
  border: 1px black solid;
}

.factor-list {
  max-width: 800px;
  padding: inherit;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.factor-list li {
  padding: 2px;
  border: 1px black solid;
}

.input-field {
  margin: 1rem;
}

.numpad {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
}

.number {
  padding: 2px;
  border: 1px black solid;
}
